/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:-50px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:-50px;}
ul.bjqs-controls.v-centered li.bjqs-prev a,
ul.bjqs-controls.v-centered li.bjqs-next a{
	opacity: 0.3;
	transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
}
ul.bjqs-controls.v-centered li.bjqs-next a:hover,
ul.bjqs-controls.v-centered li.bjqs-next a:focus,
ul.bjqs-controls.v-centered li.bjqs-next a:active,
ul.bjqs-controls.v-centered li.bjqs-prev a:hover,
ul.bjqs-controls.v-centered li.bjqs-prev a:focus,
ul.bjqs-controls.v-centered li.bjqs-prev a:active{
	opacity: 1.0;
    transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;display:none;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}